@page
@model ItemsModel
@{
	ViewData["Title"] = "Warehouse - Items";
}

<div container class="text-center">
	<div class="row justify-content-center">
		<div class="col-12">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Name</th>
						<th scope="col">Item Group</th>
						<th scope="col">Unit</th>
						<th scope="col">Quantity</th>
						<th scope="col">Price (w/o VAT)</th>
						<th scope="col">Status</th>
						<th scope="col">Location</th>
						<th scope="col">Contact Person</th>
					</tr>
				</thead>
				<tbody>
					@{
						foreach (var item in Model.Items)
						{
							<tr>
								<td>@item.Id</td>
								<td>@item.Name</td>
								<td>@item.ItemGroup</td>
								<td>@item.Unit</td>
								<td>@item.Quantity</td>
								<td>@item.PriceNoVat</td>
								<td>@item.Status</td>
								<td>@item.StorageLocation</td>
								<td>@item.ContactPerson</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>